body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow-x:hidden;
    word-wrap: break-word;*/
}

.topPanel{
  width: 100%;
  min-height: 10%;
  background-color: rgb(4,146,70);
  position: absolute;
  text-align: center;
}

.topPanel p{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.topPanel img{
  top: 0px;
  float: right;
  max-width: 3%;
  min-height: 3%;
  display: inline-block;
  border: 1px solid #FFF;
  border-radius: 35px;
  margin : 1%;
  cursor:pointer;
}

.mainPanel{
  /*top: 10%;
  padding: 0%;
  margin: 0%;
  min-width: 70%;*/
  /*top: 10%;
  min-width: 70%;
  position: relative;*/
}

.code{
  top: 10%;
  min-width: 70%;
  min-height: 40%;
  background-color: rgb(1,91,43);/*rgb(5,104,57);*/
  position: absolute;
  outline: none;
  border: none;
  padding: 1%;
  color: white;
  margin: 0%;
  /*vertical-align:top;*/
}

.terminal{
  top: 50%;
  min-width: 70%;
  min-height: 40%;
  background-color: black;
  position: absolute;
  margin: 0%;
  /*vertical-align: bottom;*/
}

.taskDescription{
  left: 70%;
  top: 10%;
  width: 30%;
  height: 80%;
  background-color: white;
  position: absolute;
  padding: 1%;
  margin: 0%;
}

.butttonSupport{
  top: 90%;
  width: 100%;
  max-height: 10%;
  padding: 4px;
  background-color: rgb(4,146,70);
  margin: 0%;
  position: absolute;
}

.button{
  width: 100px;
  height: 50px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  background-color: rgb(1,91,43);
  position:relative;
  overflow: hidden;
}

#playButton{
  float: right;
}

.btn{
  /*background-position: bottom;
  height: 80%;
  width: 80%;*/
  top: -50px;
  left: -100px;
}

#myDownMeniu{
  position: absolute;
  background-color: rgb(4,146,70);
  top: 180%;
}
