<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

	<head>
		<title>FunCode</title>
		<link href="../css/style-top-meniu.css" rel="stylesheet" type="text/css"></link>
		<link href="../css/style-profile-page.css" rel="stylesheet" type="text/css"></link>

		<script src="../js/tutorial.js"></script>
	</head>

	<body>

  	<div>
			<ul class="topmeniu" id="myTopmeniu">
				<li><a href="index.html">About</a></li>
				<li><a href="profile.html">Home</a></li>
				<li><a href="tutorials.html">Tutorials</a></li>
				<img src="../images/profile.png"></img>
			</ul>
		</div>

    <div class="wideCanvas">
      <img src="../images/colors.jpg"></img>
    </div>

    <div class="shadowBox profile">
      <img src="../images/profile.png"></img>
      <a class="profileBtn">Change Photo</a>
    </div>

    <hr/>
		<div class="sideMeniu">
    	<ul class="border meniuTopics slide_text">
  	   	<li onclick="personaliseButton()" id="personalise_btn">
				 	<img src="../images/personalise.png"></img>
				 	<p>Personalise</p>
			 	</li>
  		 	<li onclick="settingsButton()" id="settings_btn">
				 	<img src="../images/details.png"></img>
				 	<p>Details</p>
			 	</li>
  		 	<li onclick="tutorialsButton()" id="tutorials_btn">
				 	<img src="../images/tutorials.png"></img>
				 	<p>Tutorials</p>
			 	</li>
    	</ul>

			<div class="topicDisplay" id="topic_1">
				<p>Personalise</p>
			</div>
			<div class="topicDisplay" id="topic_2">
				<p>Settings</p>
			</div>
			<div class="topicDisplay" id="topic_3">
				<p>Tutorials</p>
			</div>
	  </div>

	</body>
</html>
