<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

	<head>
		<title>FunCode</title>
		<link href="../css/style-top-meniu.css" rel="stylesheet" type="text/css"></link>
		<link href="../css/style-profile-page.css" rel="stylesheet" type="text/css"></link>

		<!-- Added favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
		<link rel="manifest" href="../favicons/manifest.json">
		<link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<script src="../js/tutorial.js"></script>
		<script src="../js/log-in.js"></script>
	</head>

	<body>

		<header>
  		<% include top-meniu.ejs %>
		</header>

		<main>
    <div class="wideCanvas">
      <img src="../images/colors.jpg"></img>
    </div>

    <div class="shadowBox profile">
      <img src="../images/profile.png"></img>
      <a class="profileBtn">Change Photo</a>
    </div>

    <hr/>
		<div class="sideMeniu">
    	<ul class="border meniuTopics slide_text">
  	   	<li onclick="personaliseButton()" id="personalise_btn">
				 	<img src="../images/personalise.png"></img>
				 	<p>Personalise</p>
			 	</li>
  		 	<li onclick="settingsButton()" id="settings_btn">
				 	<img src="../images/details.png"></img>
				 	<p>Details</p>
			 	</li>
  		 	<li onclick="tutorialsButton()" id="tutorials_btn">
				 	<img src="../images/tutorials.png"></img>
				 	<p>Tutorials</p>
			 	</li>
    	</ul>

			<div class="topicDisplay" id="topic_1">
				<br></br>
				<h1>Personalise</h1>
			</div>

			<div class="topicDisplay" id="topic_2">
				<br></br>
				<h1>User Details</h1>
				<form class="detailsContent" id ="myDetails" action="/login" method="post">
					<label>Name</label>
					<input type="text" id="dsp_name" name="name" placeholder="Your name..">
					<br></br>

					<label>Username</label>
					<input type="text" id="dsp_username" name="username" placeholder="Your username..">
					<br></br>

					<label>Email</label>
					<input type="text" id="dsp_email" name="email" placeholder="Your email..">
					<br></br>

					<label>Education:</label>
					<input type="text" id="dsp_education" name="education" placeholder="Your education..">
					<br></br>

					<button class="submitBtn" type="sumbit">Save modifications</button>
				</form>
			</div>

			<div class="topicDisplay" id="topic_3">
				<br></br>
				<h1>Tutorials</h1>
				<div class="detailsContent" id="myTutorials">
					<div class="row">
						<h2>Tutorial 1: String Manipulation</h2>
						<p>Completed<p>
					</div>
					<div class="row">
						<h2>Tutorial 2: If Statements and Booleans</h2>
						<p>Not attempted<p>
					</div>
					<div class="row">
						<h2>Tutorial 3: Lists and Functions</h2>
						<p>Not attempted<p>
					</div>
				</div>
			</div>

	  </div>
	</main>

	</body>
</html>
