<ul class="topmeniu" id="myTopmeniu">
  <li><a href="index.html">About</a></li>
  <li><a href="profile.html">Home</a></li>
  <li><a href="tutorials.html">Tutorials</a></li>

  <img class="dropBtn" src="../images/profile.png" onclick="enableLogIn()"></img>
</ul>

<div class="overShadow" id="myLogInWindow" >

  <form class="formContent" method="post" id="logIn">
    <div class="header" id="logInHeader">
      <div class="logo"></div>
      <!-- <label class="loginTitle">FunCode</label> -->
      <!-- <p>FunCode<p> -->
    </div>

    <br></br>
    <br></br>
    <label>Username</label>
    <input type="text" id="username" name="username" placeholder="Your username..">

    <label>Password</label>
    <input type="text" id="password" name="password" placeholder="Your password..">

    <!-- <label class="postStatus" id="loginResponse"><label> -->

    <!-- <br></br> -->
    <div class="buttonHolder" id="myButttonHolder">
      <a href="#" onclick="login()"  class="submitBtn formButton"><p>Log in</p></a>
      <a href="#" onclick="exitLogin()" class="cancelBtn formButton"><p>Exit</p></a>
    </div>

    <br></br>
    <br></br>
    <label id="signInCase">Don't have an account. <a href="#" id="redirectToSignIn" onclick="enableSignIn()">Sign in</a> </label>
  </form>

  <form class="formContent" method="post" id="signIn" >
    <div class="header" id="signInHeader">
      <div class="logo"></div>
    </div>

    <label>Name</label>
    <input type="text" id="sg_name" name="name" placeholder="Your name..">

    <label>Username</label>
    <input type="text" id="sg_username" name="username" placeholder="Your username..">

    <label>Email</label>
    <input type="text" id="sg_email" name="password" placeholder="Your email..">

    <label>Password</label>
    <input type="text" id="sg_password" name="password" placeholder="Your password..">

    <!-- <label  class="postStatus" id="signinResponse"><label> -->

    <div class="buttonHolder" id="myButttonHolder">
      <a href="#" onclick="signin()" class="submitBtn formButton"><p>Sign in</p></a>
      <a href="#" onclick="exitLogin()" class="cancelBtn formButton"><p>Exit</p></a>
    </div>

    <br></br>
    <br></br>
    <label id="logInCase">Already have an account.<a href="#" id="redirectToLogIn" onclick="enableLogIn()">Log in</a> </label>

  </form>
</div>
